@model TrafficJunctionViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.JunctionName</title>
</head>
<body>
    <h4>@Model.JunctionName</h4>
    <div class="trafficSignalStatusContainer"></div>
    @foreach (var signal in Model.TrafficSignals)
    {
        switch (signal.ExitDirection)
        {
            case TrafficLightsControlV1.Web.Enums.ExitDirection.EXITUP:
                <div>
                    Traffic Signal At Exit 1
                </div>
                break;
            case TrafficLightsControlV1.Web.Enums.ExitDirection.EXITRIGHT:
                <div>
                    Traffic Signal At Exit 2
                </div>
                break;
            case TrafficLightsControlV1.Web.Enums.ExitDirection.EXITDOWN:
                <div>
                    Traffic Signal At Exit 3
                </div>
                break;
            case TrafficLightsControlV1.Web.Enums.ExitDirection.EXITLEFT:
                <div>
                    Traffic Signal At Exit 4
                </div>
                break;
        }
        <div>
            @if (!Model.IsSystemOn)
            {
                <div style="width:20px; height:20px; border-radius:10px;background-color:gray;display:inline-block;"></div>
            }
            else if (signal.IsGreen)
            {
                <div style="width:20px; height:20px; border-radius:10px;background-color:green;display:inline-block;"></div>
            }
            else
            {
                <div style="width:20px; height: 20px; border-radius:10px;background-color:red;display:inline-block;"></div>
            }
        </div>
    }
</body>
</html>